<h1>Listing <%= @records %> WikiLeaks Cables</h1>
<h3><a href=http://scr.im/27i8 >CONTACT ME</a></h3>&nbsp;
<p>This is a searchable database of all the WikiLeaks cables that have been released so far. If the database seems out of date, go to the <%= link_to "filldb", '/filldb' %> page and let it load for about 30 seconds to update the database.</p>
<%= form_tag cables_path, :method => 'get' do %>
	Search Classification<%= select_tag :classification1, options_for_select(["", "Secret", "Confidential", "Unclassified"], :multiple => true, :size => 3) %> or <%= select_tag :classification2, options_for_select(["", "Secret", "Confidential", "Unclassified"], :multiple => true, :size => 3) %>&nbsp; (If only 1 option is wanted, select the same option for both)<br>
	Search Subject<%= text_field_tag :search, params[:search] %><br>
	Search Origin<%= text_field_tag :origin, params[:origin]%><br>
	<%= submit_tag "Filter", :name => nil %>
<% end %>
<table>
  <tr>
    <th>Classification</th>
	<th>Reference ID</th>
    <th>Subject</th>
    <th>Link</th>
    <th>Origin</th>
    <th>Date of Creation</th>
    <th>Date of Release</th>
  </tr>
<% @mirror = "http://wikileaks.ch" %>
<% @cables.each do |cable| %>
  <tr>
    <td><%= cable.classification %></td>
	<td><%= cable.refid %></td>
    <td><%= cable.subject %></td>
	<% @url = (@mirror + cable.link).to_s %>
	<% @url.sub!(/\.\./, "") %>
    <td><%= link_to @url, @url %></td>
    <td><%= cable.country %></td>
    <td><%= cable.dateofcreation %></td>
    <td><%= cable.dateofrelease %></td>
  </tr>
<% end %>
</table>

