<p id="notice"><%= notice %></p>

<p>
  <b>Classification:</b>
  <%= @cable.classification %>
</p>

<p>
  <b>Subject:</b>
  <%= @cable.subject %>
</p>

<p>
  <b>Link:</b>
  <%= @cable.link %>
</p>

<p>
  <b>Origin:</b>
  <%= @cable.country %>
</p>

<p>
  <b>Date of Creation:</b>
  <%= @cable.dateofcreation %>
</p>

<p>
  <b>Date of Release:</b>
  <%= @cable.dateofrelease %>
</p>


<!--<%= link_to 'Edit', edit_cable_path(@cable) %>--> |
<%= link_to 'Back', cables_path %>
